# Entornos virtuales de Python
venv/
env/
.venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de editores / IDEs
.vscode/
.idea/
*.swp

# Datos sensibles y bases de datos locales
*.sqlite3
.env